body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(37,154,34,1) 17%, rgba(140,34,130,1) 44%, rgba(210,193,50,1) 78%, rgba(0,212,255,1) 100%);;
}
h1{
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
p{
    text-align: center;
} 